window {
    background-color: #1e1e2e;
    border-radius: 12px;
    border: 2px solid #f38ba8;
}

#outer-box {
    padding: 10px;
}

#inner-box {
    display: flex;
    flex-direction: column;
    align-items: center;   /* 🔥 centra horizontal */
}

#entry {
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
    text-align: center;
    width: 100%; /* ocupa ancho pero centrado */
}

#entry:selected {
    background-color: #f38ba8;
    color: #1e1e2e;
}

#text {
    color: #cdd6f4;
    font-size: 15px;
    font-weight: bold;
    text-align: center; /* 🔥 centra texto */
   font-family: "jetBrainsMono Nerd Font";
  }
